@import "semantic-ui";

.chatbox{
    height: 430px;
}

.h1{
    height: 300px;
}

body{
    background-image: asset-url('default_wallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.h2{
    margin-top: 20px;
}

.nice{
    margin-top:15px!important;
}

.nicee{
    margin-top:45px!important;
}

.pp{
    margin-bottom: 20px;
}